@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

html>body{line-height:1;padding:0}
html, body{
   color:#666;
   background-color:#fffcf0;
   margin:0 auto;
   padding:0;
   border:0;
   font-size:100%;
   font:inherit;
   vertical-align:baseline;
   font-family: 'Nanum Barun Gothic';
   box-sizing:border-box;
   line-height:1.5;}
   
   div{
   color:#666;
   margin:0;
   padding:0;
   border:0;
   font-size:100%;
   font:inherit;
   vertical-align:baseline;
   font-family: 'Nanum Barun Gothic';
   box-sizing:border-box;
   line-height:1.5
   }

   
ol,ul{list-style:none; color:#fbd14b;}
a{text-decoration:none; color:#fff;}
.entinfo-contents-link{color:#666  }
a:hover{color:#fbd14b}

.button-top{
	width:70px;
    background-color:#fbd14b;
    border: none;
    border-radius:10px;
    color:#6a60a9;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.button-top-admin{
	width:70px;
    background-color:#990000;
    border: none;
    border-radius:10px;
    color:#fbd14b;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.button{
	width:70px;
    background-color:#6a60a9;
    border: none;
    border-radius:10px;
    color:#dedcee;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.info-text-link{color:#666}

td, th{padding:10px 5px 10px 5px;border-color:#fff;border-style:solid;border-width:1px}
th{color:#6a60a9; background-color:#dedcee}
table{background-color:#FFFFFF;color:#666;border-color:#fff;border-width:1px;border-style:solid;}
  
.ccc{color:#000;}    
.info-logo{margin:10px; backgound:#fffcf0}
.entinfo-info-logo{padding:0px;margin:0px;width:40px;height:40px;backgound:#fffcf0;}

.main-header-container{width:100%;height:80px;background-color:#6a60a9;position:fixed;z-index:100;top:0;box-shadow:3px 2px 10px 1px rgba(0,0,0,0.5)}
.main-header-logo-btn{float:left;width:220px;height:80px;position:relative;margin-left:15px}
.main-header-menu{float:right;height:100%}
.main-header-menu-item{color:#fff; height:100%;text-align:center;float:left; padding:15px}
   
.main-contents-container{width:100%;margin:0 auto;position:relative;min-height:calc(100% - 196px)}
.main-contents{width:100%;height:100%;margin:0 auto;padding-top:120px;position:relative}
.main-title{width:80%;font-size:30px;text-align:center;color:#6a60a9;margin:0 auto;line-height:1.5}
.main-title-link-text{font-size:12px; color:#666}
.main-contents-link{color:#666; text-decoration:none;}

.main-image{width:260px;height:340px}

.main-search-area{width:100%;height:50px;margin-top:30px}
.main-search-area-activated{width:100%;height:50px;position:fixed;top:0;left:0;z-index:200;background-color:#fffae1}
.main-search-query{float:left;width:80%;height:35px;border:0;line-height:35px;outline:0;font-size:16px;font-weight:normal;text-align:left;color:#666;background-color:#dedcee;}
.main-search-icon{float:right;width:45px;height:45px;position:relative;}
.main-search-container{width:60%;height:100%;border-bottom:solid 2px #6a60a9;border-left:solid 2px #6a60a9;margin:0 auto;padding:5px; padding-left:30px;position:relative;background-color:#dedcee}

.main-priority-container{float:center;width:45%;height:80px;margin:0 auto; padding-top:10px}
.main-priority-menu{float:center;height:100%;margin:0px;}
.main-priority-menu-item-top{color:#6a60a9;height:100%;text-align:left;float:left; padding-top:10px;padding-right:10px}
.main-priority-menu-item{color:#666;height:100%;text-align:left;float:left; padding:10px}
.main-best-review-list{width:60%;height:50%;margin:16px auto 0 auto}
.main-recent-comment-list{width:60%;height:50%;margin:16px auto 0 auto}
.main-recent-employment-list{width:60%;height:50%;margin:16px auto 0 auto}
.main-recent-employment-calander{width:900px; height:300px; margin-top:30px; background:#ffffff; padding:3px;}

.sub-title{width:80%;font-size:25px;text-align:left;color:#6a60a9;margin-top:100px;line-height:1.5}
.sub-list{color:#666; font-size:15px}

.info-wrapeer{min-height:calc(100% - 196px); position: relative; margin:0 auto;}
.info-container{margin:0 auto; position:relative; width:100%; font-size:16px;}
.info-header-contents{width:90%;margin:0 auto;position:relative; align-content: center;}
.info-header-title{width:80%;font-size:30px;text-align:center;color:#6a60a9;margin:0 auto;line-height:1.5}
.info-text{position:relative; width:80%;font-size:16px;text-align:center;color:#666;margin:30px auto;line-height:1.5}
.info-table-area{position:relative; width:90%; align-content:center; margin: 0 auto;}

.join-header-area{width:100%;height:80px;background-color:#6a60a9;position:fixed;z-index:100;top:0;box-shadow:3px 2px 10px 1px rgba(0,0,0,0.5)}
.join-title{color:#dedcee; text-align:center;}
.join-container{margin-top:120px}
.join-table-item{text-align:left;}

.wrapper{margin:0 auto; width:100%; align-content:center}
.entinfo-header-title-area{width:100%;height:80px;background-color:#6a60a9;position:fixed;z-index:100;top:0;box-shadow:3px 2px 10px 1px rgba(0,0,0,0.5)}
.entinfo-header-scrape-area{background-color:#6a60a9;float:right;width:100px; height:100%; margin:0px auto; padding-top:35px; position:relative;}
.entinfo-header-scrape-area-left{background-color:#6a60a9;float:left;width:100px; height:100%; margin:0px auto; margin-left:30px;padding-top:35px; position:relative;}
.entinfo-contents-container{width:100%;margin-top:130px; align-content:center;}
.entinfo-header-title-korean{color:#6a60a9;}
.entinfo-header-title-english{color:#6a60a9;}
.entinfo-contents{width:500px;height:200px;margin:0 auto; position:absolute; padding-left:80px}
.entinfo-map-area{margin:0 auto; position:relative; width:500px;height:100%;}
.entinfo-map{width:500px;height:400px;margin:0 auto;border: solid 4px #fbd14b; position:relative;}
.entinfo-evaluation-avg{width:15%;height:200px;margin:0 auto;position:absolute; padding-left:80px}
.entinfo-evaluate-area{width:40%;height:200px;margin:0 auto;position:absolute; padding-left:250px}
.entinfo-comment-area{width:60%; height:200px; margin: 0 auto; position:relativ; padding-left:200px}
.entinfo-contents-list-item{list-style:disc; color:#666; position:relative;}

.entinfo-header-search-area{border: solid 4px #fff;margin:0 auto;padding-top:0px; padding-left:30px;height:50px;background-color:#dedcee;margin-top:15px; margin-left:450px; width:40%; position:fixed;}

.main-footer-contents{margin-top:50px; margin-bottom:0px}
.main-footer-text{font-size:10px;}

.entinfo-star-rating-area{
	CLEAR: both; 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	display:inblock;
	BACKGROUND: url(../img/icon_star2.gif) 0px 0px; 
	FLOAT: left; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	WIDTH: 90px; 
	PADDING-TOP: 0px; 
	HEIGHT: 18px;
}

.entinfo-star-rating{
	 PADDING-RIGHT: 0px; 
	 PADDING-LEFT: 0px; 
	 BACKGROUND: url(../img/icon_star.gif) 0px 0px; 
	 PADDING-BOTTOM: 0px;
	 MARGIN: 0px; 
	 PADDING-TOP: 0px; 
	 HEIGHT: 18px;
}

.main-sub-item{
	background-color:#fffcf0;
	border-style:none;
	font-size:20px;
	padding:5px;
	color:#666;
	font-family:'Nanum Barun Gothic';
}
.main-sub-item-com{
	background-color:#fffcf0;
	border-style:none;
	font-size:20px;
	padding:5px;
	color:#6a60a9;
	font-family:'Nanum Barun Gothic';
}

.sub-list-item{
	list-style:decimal;
	font-size:20px;
	color:#6a60a9;
}

.sub-list-item2{
	list-style:disc;
	font-size:20px;
	color:#666;
}

.main-contents-container-prio{
	margin-top:100px;
	padding:50px;
}

.main-contents-prio-title{
	color:#6a60a9;
}

.comment-text{
	color:#666;
	background-color:#fff;
	border-color:#dedcee;
	border-style: solid;
	border-width:3px;
}

.entinfo-comment-area-input{
	padding-top:30px;
	color:#6a60a9;
	display:inline-block;
}

.comment-table{
	width:650px;
}

.evaluate-button-area{
	padding:10px;
}